parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Unable to resolve the template type#'
            path: %currentWorkingDirectory%/src
        -
            message: '#but returns#'
            path: %currentWorkingDirectory%/src/Processor/SchedulerMessagesProcessor.php